<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <title>Ironman Streak Watcher</title>
  <link rel="stylesheet" href="/hockey.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="top" >
            <p> <%= activeStreakLeader %> has the longest active Ironman streak with 
                <strong> <%= activeStreak %> </strong> consecutive games.
            </p>
            <p> He has <strong> <%= data[1] %> </strong> points in total.</p>
        </div>
    </div>

    <div class="test">
        <table class="table table-light table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                <th scope="col"></th>
                <th scope="col">Player</th>
                <th scope="col">Streak</th>
                </tr>
            </thead>

                <% data[0].forEach((record) => { %>
                    <tr>
                        <td></td>
                        <td  class="
                            <% if (record.activeStreak) { %> 
                                activeStreak
                            <% } %>
                        "><%= record.firstName; %> <%= record.lastName; %> </td>
                        <td><strong><%= record.streak; %></strong></td>
                    </tr>

                <% }); %>
        </table>
    </div>
</body>
</html>