<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <title>Ironman Streak Watcher</title>
  <link rel="stylesheet" href="/hockey.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet"> 
</head>

<body>

    <div class="page">
    <div class="container">
        <div class="record rounded">
            <div class="top" >
                <p> <%= activeStreakLeader %> has the longest active Ironman streak with 
                    <strong> <%= activeStreak %> </strong> consecutive games.
                </p>
            </div>

            <table class="table table-light table-striped table-hover table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" class="rowNumber"></th>
                    <th scope="col">Player</th>
                    <th scope="col">Streak</th>
                    </tr>
                </thead>

                    <% data[0].forEach((record) => { %>
                        <% var link = "https://www.nhl.com/player/" + record.playerId %>
                        <tr>
                            <!--Row number column-->
                            <td></td>

                            <!--Name-->
                            <td>
                                <a href="<%=link%>">
                                    <%= record.firstName; %> <%= record.lastName; %> 
                                </a> 
                            </td>

                            <!--Streak-->
                            <td class="
                                <% if (record.activeStreak) { %> 
                                    activeStreak
                                <% } %>
                            "><strong><%= record.streak; %></strong></td>
                        </tr>

                    <% }); %>
            </table>
        </div>
    </div>
    </div>
</body>
</html>